{% extends "network/layout.html" %} {% block body %}
<div class="all-posts container">
  {% if user.is_authenticated %}
  <form method="POST" action="{% url 'new_post' %}" id="text-form">
    <textarea placeholder="New post" cols="45" rows="4" id="text"></textarea>
    <div>
      <input type="submit" class="btn btn-success" value="Post" />
    </div>
  </form>
  {% endif %}
  <div id="posts">
    {% if page_obj %} {% for post in page_obj %}
    <div
      class="card"
      style="width: 22em; margin-left: auto; margin-right: auto"
      id="d{{ post.id }}"
    >
      <div class="card-body">
        <div class="card-headers">
          <h5 class="card-title">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' post.user.id %}"
              >{{ post.user.username }}</a
            >
            {% else %}
            <p>{{ post.user.username }}</p>
            {% endif %}
          </h5>
          {% if user.id != post.user.id and user.is_authenticated %}
          <a
            href="#"
            class="card-link"
            id="p{{ post.id }}"
            style="float: right"
          >
            {% if post.liked %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
          </a>
          {% endif %} {% if user.id == post.user.id %}
          <button class="btn btn-warning edit-btn" id="b{{ post.id }}">
            Edit
          </button>
          {% endif %}
        </div>
        <p class="card-text" id="post-content">{{ post.content }}</p>
        <p class="card-text">{{ post.time_posted }}</p>
        <p class="card-text" id="p{{ post.id }}p">
          <i class="fab fa-gratipay"></i> {{ post.likes }}
        </p>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  {% if page_obj %}
  <footer>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
        <a href="?page={{ page_obj.previous_page_number }}"
          ><i class="fas fa-angle-left"></i
        ></a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
          ><i class="fas fa-angle-right"></i
        ></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"
          ><i class="fas fa-angle-double-right"></i
        ></a>
        {% endif %}
      </span>
    </div>
  </footer>
  {% endif %}
</div>

{% endblock %}
